h1 {
    font-size: 70px;
    text-align: center;
    background-color: black;
    color: white;
}

body {
    background-color: darkgray;
}

#controls {
    font-size: 20px;
    text-align: center;
}

#result {
    padding: 20px;
}

input {
    padding: 10px;
    font-size: 15px;
    width: 20%;
}

#lookup {
    background-color:black;
    color:white;
    padding: 10px;
    width: 10%;
    font-size: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table th {
    border: 2px solid;
    padding: 10px;
}

table td {
    text-align: center;
    border: 2px solid;
    padding: 10px;
}